<div *ngIf="weatherInfo !== undefined && weatherInfo !== null">

  <table class="table table-striped">
    <thead>
    <tr>
      <td scope="col">Из</td>
      <td scope="col">{{getUrl(customTitle.toLocaleLowerCase())}}</td>
    </tr>
    <tr>
      <th scope="col">Информације о времену</th>
      <th scope="col">Вредности</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Минимална температура</td>
      <td>{{weatherInfo.minTemp}}</td>
    </tr>
    <tr>
      <td>Максимална температура</td>
      <td>{{weatherInfo.maxTemp}}</td>
    </tr>
    <tr>
      <td>Субјективни осћај</td>
      <td>{{weatherInfo.realFeel}}</td>
    </tr>
    <tr>
      <td>Влажност ваздуха</td>
      <td>{{weatherInfo.humidity}}</td>
    </tr>
    <tr>
      <td>Ваздушни притисак</td>
      <td>{{weatherInfo.pressure}}</td>
    </tr>
    <tr>
      <td>Ув индекс</td>
      <td>{{weatherInfo.uvIndex}}</td>
    </tr>
    <tr>
      <td>Брзина ветра</td>
      <td>{{weatherInfo.windSpeed}}</td>
    </tr>
    <tr>
      <td>Смер ветра</td>
      <td>{{weatherInfo.windDirection}}</td>
    </tr>
    <tr>
      <td>Опис прогнозе</td>
      <td>{{weatherInfo.description}}</td>
    </tr>
    <tr>
      <td>Датум</td>
      <td>{{weatherInfo.date | date}}</td>
    </tr>
    <tr>
      <td>Слика</td>
      <td><img class="images" [src]="weatherInfo.imageUrl"/></td>
    </tr>
    </tbody>
  </table>
</div>
