<h2>{{customTitle}} - {{weatherInfo.description}}</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Propetry name </th>
    <th scope="col">Information</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>minTemp</td>
    <td>{{weatherInfo.minTemp}}</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>maxTemp</td>
    <td>{{weatherInfo.maxTemp}}</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>realFeel</td>
    <td>{{weatherInfo.realFeel}}</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>humidity</td>
    <td>{{weatherInfo.humidity}}</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>pressure</td>
    <td>{{weatherInfo.pressure}}</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Larry</td>
    <td>{{weatherInfo.uvIndex}}</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>windSpeed</td>
    <td>{{weatherInfo.windSpeed}}</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>windDirection</td>
    <td>{{weatherInfo.windDirection}}</td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>description</td>
    <td>{{weatherInfo.description}}</td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td>date</td>
    <td>{{weatherInfo.date | date}}</td>
  </tr>
  <tr>
    <th scope="row">11</th>
    <td>imageUrl</td>
    <td><img class="images" [src]="weatherInfo.imageUrl"/></td>
  </tr>
  </tbody>
</table>
