<div *ngIf="weatherData !== undefined && weatherData !== null">
  <h2>Тренутно време</h2>
  <table class="table table-current-weather" *ngIf="providerSource == 'accu' || providerSource == 'w2u' || providerSource == 'rhmz'">
    <tbody>
    <tr>
      <td>Тренутна температура</td>
      <td>{{weatherData.currentWeather.currentTemp}} °C</td>
    </tr>
    <tr>
      <td>Субјективни осећај</td>
      <td>{{weatherData.currentWeather.realFeel}} °C</td>
    </tr>
    <tr>
      <td>Влажност ваздуха</td>
      <td>{{weatherData.currentWeather.humidity}}%</td>
    </tr>
    <tr>
      <td>Ваздушни притисак</td>
      <td>{{weatherData.currentWeather.pressure}} mbar</td>
    </tr>
    <tr>
      <td>УВ индекс</td>
      <td>{{weatherData.currentWeather.uvIndex}}</td>
    </tr>
    <tr>
      <td>Брзина ветра</td>
      <td>{{weatherData.currentWeather.windSpeed}} m/s</td>
    </tr>
    <tr>
      <td>Смер ветра</td>
      <td>{{weatherData.currentWeather.windDirection}}</td>
    </tr>
    <tr>
      <td>Опис</td>
      <td>{{weatherData.currentWeather.description}}</td>
    </tr>
    <tr>
      <td>Датум</td>
      <td>{{weatherData.currentWeather.day}} - {{weatherData.currentWeather.date}}.</td>
    </tr>
    <tr>
      <td>Слика</td>
      <td>
        <img class="images" [src]="weatherData.currentWeather.imageUrl" *ngIf="weatherData.weeklyForecast[0].provider !== 'W2UM'"/>
        <img class="images" [src]="weatherData.currentWeather.imageUrl" *ngIf="weatherData.weeklyForecast[0].provider === 'W2UM'" style="height: 25px"/>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-current-weather" *ngIf="providerSource == 'combined'">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">AccuWeather</th>
      <th scope="col" class="weather2Umbrella">Weather2Umbrella</th>
      <th scope="col">Rhmz</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Тренутна температура</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.currentTemp}} °C</td>
    </tr>
    <tr>
      <td>Субјективни осећај</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.realFeel}} °C</td>
    </tr>
    <tr>
      <td>Влажност ваздуха</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.humidity}}%</td>
    </tr>
    <tr>
      <td>Ваздушни притисак</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.pressure}} mbar</td>
    </tr>
    <tr>
      <td>УВ индекс</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.uvIndex}}</td>
    </tr>
    <tr>
      <td>Брзина ветра</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.windSpeed}} m/s</td>
    </tr>
    <tr>
      <td>Смер ветра</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.windDirection}}</td>
    </tr>
    <tr>
      <td>Опис</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.description}}</td>
    </tr>
    <tr>
      <td>Датум</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
          *ngFor="let weatherData of combinedWeatherData">{{weatherData.currentWeather.day}} - {{weatherData.currentWeather.date}}.</td>
    </tr>
    <tr>
      <td>Слика</td>
      <td [ngClass]="{'weather2Umbrella':weatherData.weeklyForecast[0].provider === 'W2UM'}"
              *ngFor="let weatherData of combinedWeatherData"><img class="images" [src]="weatherData.currentWeather.imageUrl"/></td>
    </tr>
    </tbody>
  </table>

  <h2>Прогноза времена</h2>
  <table class="table table-forecasted-weather" *ngIf="providerSource == 'accu' || providerSource == 'w2u' || providerSource == 'rhmz'">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        {{forecastedWeather.day === 'N/A'? weatherData.currentWeather.day : forecastedWeather.day }} <br>
        {{forecastedWeather.date === null? weatherData.currentWeather.date : forecastedWeather.date}}.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Мин. темп.</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        {{ forecastedWeather.day === 'N/A'? 'N/A' : forecastedWeather.minTemp }}
        {{ forecastedWeather.day === 'N/A'? '' : '°C' }}
      </td>
    </tr>
    <tr>
      <td>Макс. темп.</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        {{ forecastedWeather.day === 'N/A'? 'N/A' : forecastedWeather.maxTemp }}
        {{ forecastedWeather.day === 'N/A'? '' : '°C' }}
      </td>
    </tr>
    <tr>
      <td>Брзина ветра</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        {{ forecastedWeather.day === 'N/A'? 'N/A' : forecastedWeather.windSpeed }}
        {{ forecastedWeather.day === 'N/A'? '' : 'm/s' }}
      </td>
    </tr>
    <tr>
      <td>Смер ветра</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">{{ forecastedWeather.windDirection }}</td>
    </tr>
    <tr>
      <td>УВ индекс</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        {{ forecastedWeather.day === 'N/A'? 'N/A' : forecastedWeather.uvIndex }}
      </td>
    </tr>
    <tr>
      <td>Опис</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">{{ forecastedWeather.description }}</td>
    </tr>
    <tr>
      <td>Слика</td>
      <td *ngFor="let forecastedWeather of weatherData.weeklyForecast">
        <img class="forecasted-icons" [src]="forecastedWeather.imageUrl" *ngIf="!forecastedWeather.imageUrl.includes('error')"/>
        <img class="forecasted-icons" [src]="forecastedWeather.imageUrl" *ngIf="forecastedWeather.imageUrl.includes('error')" style="height: 25px"/>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table table-forecasted-weather" *ngIf="providerSource == 'combined'">
    <thead>
    <tr>
      <th scope="col">Дан</th>
      <th scope="col">Провајдер</th>
      <th scope="col">Мин. темп.</th>
      <th scope="col">Макс. темп.</th>
      <th scope="col">Брзина ветра</th>
      <th scope="col">Смер ветра</th>
      <th scope="col">УВ индекс</th>
      <th scope="col">Опис</th>
      <th scope="col">Слика</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let  dailyForecast of combinedForecastedData"
          [ngClass]="{'weather2Umbrella':dailyForecast.provider === 'W2UM'}">
        <td *ngIf="dailyForecast.provider === 'ACCU'" rowspan="3">{{dailyForecast.day}} <br> {{dailyForecast.date}}.</td>
        <td>{{dailyForecast.provider}}</td>
        <td>
          {{ dailyForecast.day === 'N/A'? 'N/A' : dailyForecast.minTemp }}
          {{ dailyForecast.day === 'N/A'? '' : '°C' }}
        </td>
        <td>
          {{ dailyForecast.day === 'N/A'? 'N/A' : dailyForecast.maxTemp }}
          {{ dailyForecast.day === 'N/A'? '' : '°C' }}
        </td>
        <td>
          {{ dailyForecast.day === 'N/A'? 'N/A' : dailyForecast.windSpeed }}
          {{ dailyForecast.day === 'N/A'? '' : 'm/s' }}
        </td>
        <td>{{dailyForecast.windDirection}}</td>
        <td>
          {{ dailyForecast.day === 'N/A'? 'N/A' : dailyForecast.uvIndex }}
        </td>
        <td>{{dailyForecast.description}}</td>
        <td>
          <center>
            <img class="images" [src]="dailyForecast.imageUrl" *ngIf="!dailyForecast.imageUrl.includes('error')"/>
            <img class="images" [src]="dailyForecast.imageUrl" *ngIf="dailyForecast.imageUrl.includes('error')" style="height: 25px"/>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</div>
