body {
  background:#000000;
  height:auto;
}

div.left-navbar {
  background-color: white;
}

div.jumbotron {
  background-color: black;
  color: white;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
}
