<div class="jumbotron">
  <h2>Веб апликација за прикупљање, агрегацију и приказивање података о временској прогнози</h2>
</div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="accu" class="nav-link" [ngClass]="{'active': accuWeather === 'accu'}" [routerLink]=""
         (click)="passTheSalt('accu')">AccuWeather</a>
    </li>
    <li class="nav-item">
      <a id="w2u" class="nav-link" [ngClass]="{'active': accuWeather === 'w2u'}" [routerLink]=""
         (click)="passTheSalt('w2u')" >Weather2Umbrella</a>
    </li>
    <li class="nav-item">
      <a id="rhmz" class="nav-link" [ngClass]="{'active': accuWeather === 'rhmz'}" [routerLink]=""
         (click)="passTheSalt('rhmz')">RHMZ</a>
    </li>
  </ul>
  <weather-component [customTitle]="accuWeather"></weather-component>
</div>
<div class="jumbotron">
  <h2>ETF Beograd Septembar 2020.</h2>
</div>
<router-outlet></router-outlet>
